Repository aimclub/GOLEM, pull requests merged in 2023-06, with the labels that each got.

#113 Add new plots for population Diversity
  examples/synthetic_graph_evolution/experiment_setup.py
  golem/visualisation/opt_history/diversity.py
  golem/visualisation/opt_viz.py
Labels: enhancement, visualizations

#93 add tests for SA
  test/integration/test_structural_analysis.py
  test/unit/structural_analysis/test_structural_analysis.py
Labels: test

#132 Hotfix condition on telegram notification of integration tests
  .github/workflows/integration-build.yml
Labels: bug

#135 Fix integration test for struct_search
  test/integration/test_structure_search.py
Labels: test
