Repository aimclub/GOLEM, pull requests merged in 2023-04, with the labels that each got.

#75 Fix delete_node to allow breaking cycles in graphs.
  golem/core/dag/graph.py
  golem/core/dag/graph_delegate.py
  golem/core/dag/linked_graph.py
  golem/core/optimisers/advisor.py
  golem/core/optimisers/genetic/operators/base_mutations.py
  test/unit/dag/test_graph.py
  test/unit/dag/test_graph_operator.py
Labels: enhancement

#84 crossover for multi root graphs
  golem/core/dag/graph_node.py
  golem/core/optimisers/genetic/gp_operators.py
  golem/core/optimisers/genetic/operators/crossover.py
  golem/structural_analysis/graph_sa/graph_structural_analysis.py
  golem/structural_analysis/graph_sa/results/sa_analysis_results.py
  test/unit/optimizers/gp_operators/test_gp_operators.py
  test/unit/utils.py
Labels: enhancement

#86 Add Quick Start example to readme with several usability fixes
  README.rst
  README_en.rst
  examples/synthetic_graph_evolution/graph_search.py
  examples/synthetic_graph_evolution/simple_run.py
  examples/synthetic_graph_evolution/tree_search.py
  golem/core/adapter/adapter.py
  golem/core/optimisers/genetic/gp_optimizer.py
  golem/core/optimisers/genetic/gp_params.py
  golem/core/optimisers/objective/objective.py
  golem/core/optimisers/optimization_parameters.py
  golem/core/optimisers/optimizer.py
  golem/core/optimisers/populational_optimizer.py
Labels: documentation, examples

#78 Add infrastructure for Adaptive Mutation agent & simple experiments
  examples/adaptive_optimizer/__init__.py
  examples/adaptive_optimizer/experiment_different_targets.py
  examples/adaptive_optimizer/experiment_setup.py
  examples/adaptive_optimizer/utils.py
  examples/synthetic_graph_evolution/experiment_setup.py
  examples/synthetic_graph_evolution/graph_search.py
  examples/synthetic_graph_evolution/tree_search.py
  examples/synthetic_graph_evolution/utils.py
  golem/core/optimisers/adaptive/__init__.py
  golem/core/optimisers/adaptive/mab_agent.py
  golem/core/optimisers/adaptive/operator_agent.py
  golem/core/optimisers/genetic/gp_optimizer.py
  golem/core/optimisers/genetic/gp_params.py
  golem/core/optimisers/genetic/operators/base_mutations.py
  golem/core/optimisers/genetic/operators/mutation.py
  golem/core/optimisers/opt_history_objects/parent_operator.py
  golem/core/optimisers/optimizer.py
  golem/core/optimisers/populational_optimizer.py
  golem/core/utilities/data_structures.py
  requirements.txt
  test/integration/test_quality_improvement.py
  test/integration/test_structure_search.py
Labels: research, adaptive
