Repository aimclub/GOLEM, pull requests merged in 2023-07, with the labels that each got.

#139 fix integration test
  golem/metrics/edit_distance.py
  test/integration/test_structure_search.py
Labels: test

#129 Encodings for graphs
  examples/adaptive_optimizer/mab_experiment_different_targets.py
  experiments/mab/mab_synthetic_experiment_helper.py
  golem/core/optimisers/adaptive/context_agents.py
  golem/core/optimisers/adaptive/mab_agents/contextual_mab_agent.py
  golem/core/optimisers/genetic/operators/mutation.py
  golem/core/optimisers/opt_node_factory.py
  test/unit/adaptive/__init__.py
  test/unit/adaptive/test_context_agents.py
Labels: enhancement, adaptive

#131 Check structural diversity
  examples/synthetic_graph_evolution/experiment_setup.py
  golem/core/optimisers/genetic/evaluation.py
  golem/core/optimisers/genetic/operators/elitism.py
  golem/core/optimisers/genetic/operators/inheritance.py
  golem/core/optimisers/genetic/operators/mutation.py
  golem/core/optimisers/genetic/operators/reproduction.py
  golem/core/optimisers/genetic/operators/selection.py
  golem/core/optimisers/optimizer.py
  golem/core/optimisers/populational_optimizer.py
  test/integration/test_structural_diversity.py
  test/unit/optimizers/gp_operators/test_elitism.py
  test/unit/optimizers/gp_operators/test_gp_operators.py
  test/unit/optimizers/gp_operators/test_mutation.py
  test/unit/optimizers/gp_operators/test_reproduction_controller.py
  test/unit/optimizers/test_composing_history.py
Labels: enhancement, opt core

#143 Fix integation test (v4)
  golem/metrics/edit_distance.py
  test/integration/test_structure_search.py
Labels: bug, test

#137 Fix recursions for cycled graphs
  examples/molecule_search/mol_adapter.py
  golem/core/adapter/nx_adapter.py
  golem/core/dag/graph.py
  golem/core/dag/graph_utils.py
  golem/core/dag/linked_graph.py
  golem/core/dag/verification_rules.py
  golem/core/optimisers/genetic/operators/base_mutations.py
  golem/core/optimisers/genetic/operators/crossover.py
  golem/metrics/edit_distance.py
  test/integration/test_cycled_graph_evolution.py
  test/unit/dag/test_graph_operator.py
  test/unit/dag/test_graph_utils.py
  test/unit/dag/test_graph_verification.py
  test/unit/optimizers/gp_operators/test_mutation.py
  test/unit/utils.py
Labels: bug

#155 Add test for graph.delete_node
  test/unit/dag/test_graph.py
Labels: test

#154 Add GPAlgorithmParams to docs
  docs/source/api/index.rst
  docs/source/api/parameters.rst
  docs/source/api/reproduction.rst
  golem/core/optimisers/genetic/gp_params.py
  golem/core/optimisers/genetic/operators/reproduction.py
Labels: documentation

#157 Adjust boundaries for integration test
  test/integration/test_structural_diversity.py
Labels: test
